*.la
*.lo
*.o
*.so
*.dep
*.libs/
.libs/
modules/
build/
autom4te.cache/

Makefile
Makefile.fragments
Makefile.objects
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
libtool
run-tests.php
*.gcda
*.gcno
*.gcov

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

result
